= stylesheet_link_tag "grid"

%div#border
  %div#logo
    %span Tayuan Mo Ako Please (TMAP)
    %img{:src => "assets/pin.png"}

  %div#lands
    - @grid.each_with_index do |r, x|
      %div.row
        - r.each do |y|
          %div.land
            = link_to "x", new_inquiry_path(x: x + 1, y: y)


