= stylesheet_link_tag "grid"
.page-header
  %h1 
    Tayuan Mo Ako Please (TMAP) 
    %small http://tayuanmoakoplease.herokuapp.com

%h2 Mabitac, Laguna
%h3 Click on the map to select the area you want to assess re Hazard stuff.

%div#lands
  - @grid.each_with_index do |r, x|
    %div.row
      - r.each do |y|
        %div.land
          = link_to "x", new_inquiry_path(x: x + 1, y: y)
