= stylesheet_link_tag "grid"


%div#logo

  %span Tayuan Mo Ako Please (TMAP)
  %img{:src => "assets/pin.png"}
  %div#box

%div#lands
  - @grid.each_with_index do |r, x|
    %div.row
      - r.each do |y|
        %div.land
          = link_to "x", new_inquiry_path(x: x + 1, y: y)
%div#footer
  %span#spanCaption Pumili ka ng lugar kung saan mo gustong magpatayo?

